<h1>New platform organization</h1>

<%= render "form", platform_organization: @platform_organization %>

<br>

<div>
  <%= link_to "Back to platform organizations", platform_organizations_path %>
</div>
