<div class="page-title">
  <h1>Editing event</h1>


  <nav aria-labelledby="quick-actions">
    <ul class="inline">
      <li><%= link_to "Cancel", @event %></li>
      <li><%= link_to "Back to events", events_path %></li>
    </ul>
  </nav>
</div>

<%= render "form", event: @event, cta: I18n.t('Event.Actions.Update') %>
