<h1>Editing event session</h1>

<%= render "form", event_session: @event_session %>

<br>

<div>
  <%= link_to "Show this event session", @event_session %> |
  <%= link_to "Back to event sessions", event_sessions_path %>
</div>
