.dropdown {
  position: relative;

  &:hover,
  &:focus-within {
    background: var(--color-zinc-300);
    transition: 120ms all 120ms ease-out;

    .dropdown_menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;
    }
  }
}

.dropdown_button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;

  &:after {
    content: "";
    border: 0.35rem solid transparent;
    border-top-color: var(--color-black);
    margin-left: 0.25em;
    transform: translateY(0.15em);
  }
}

.dropdown_menu > a,
.dropdown_menu > button,
.dropdown_button {
  padding: 1rem 0.5rem;
}

.dropdown_menu {
  position: absolute;
  top: calc(100% - 0.25rem);
  left: 50%;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  opacity: 0.3;
  transition: 280ms all 120ms ease-out;
  background-color: var(--color-white);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  padding: 0.5em 0;
  min-width: 15ch;

  button {
    width: 100%;
  }

  a,
  button {
    border: none;
    display: block;
    text-decoration: underline;
    text-align: center;
    font-size: 1rem;
    padding: 0.5em;
    color: blue;
    background: transparent;

    &:hover {
      background-color: var(--color-zinc-200);
    }
  }
}
