<h1>Editing event speaker</h1>

<%= render "form", event_speaker: @event_speaker %>

<br>

<div>
  <%= link_to "Show this event speaker", @event_speaker %> |
  <%= link_to "Back to event speakers", event_speakers_path %>
</div>
